{sub_dirs, []}.
{erl_opts, [fail_on_warning, debug_info,
  {src_dirs,
    ["src"]}]}.
{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [verbose,  {report, {eunit_surefire, [{dir, "."}]}}]}.
{eunit_compile_opts, []}.
{deps, [
  {meck, ".*",
    {git, "git@github.com:esl/meck.git", {branch, "master"}}},
  {uuid, ".*",
    {git, "git://gitorious.org/avtobiff/erlang-uuid.git", "master"}}
]}.
{lib_dirs, ["../deps", "../deps/rabbit_common-3.2.4"]}.